.AppHeader {
    display: flex;
    flex-direction: column;
    background-color: #1e1e1e;
    font-size: 18px;
    color: #ffffff;
    padding: 0;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    font-family: 'Roboto', sans-serif;
    height: auto; /* Change from 100vh to auto */
    width: 100%; /* Ensure the header takes the full width */
    box-sizing: border-box; /* Include padding and border in the element's total width and height */
}

.TopSection {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    height: 70px;
    padding: 0 10px; /* Adjust padding to reduce empty space */
    width: 100%; /* Ensure the section takes the full width */
    box-sizing: border-box; /* Include padding and border in the element's total width and height */
}

.LeftSection {
    display: flex;
    align-items: center;
    height: 100%; /* Ensure the left section takes the full height */
    padding: 0 10px; /* Adjust padding to reduce empty space */
}

.MiddleSection {
    display: none;
    flex-grow: 1;
    justify-content: center;
    height: 100%; /* Ensure the middle section takes the full height */
}

.RightSection {
    display: flex;
    align-items: center;
    height: 100%; /* Ensure the right section takes the full height */
}

.NavButton {
    padding: 0 5px; /* Adjust padding for narrower buttons */
    border: none;
    border-radius: 0;
    background-color: #1e1e1e;
    color: #ffffff;
    font-size: 20px;
    cursor: pointer;
    transition: background-color 0.3s, box-shadow 0.3s;
    height: 100%; /* Ensure the button takes the full height */
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none; /* Remove underline */
    box-sizing: border-box; /* Include padding and border in the element's total width and height */
}

.NavButton:hover,
.NavButton:active,
.NavButton.active {
    background-color: #333333;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    text-decoration: none; /* Ensure underline is removed on hover and active */
}

.BottomSection {
    display: flex;
    justify-content: space-around;
    padding: 10px 0;
    background-color: #1e1e1e;
    box-shadow: 0 -2px 4px rgba(0, 0, 0, 0.1);
    position: fixed;
    bottom: 0;
    width: 100%;
    box-sizing: border-box; /* Include padding and border in the element's total width and height */
    z-index: 1000
}

@media (min-width: 768px) {
    .AppHeader {
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
        height: 70px;
    }

    .TopSection {
        justify-content: space-between;
    }

    .MiddleSection {
        display: flex;
        flex-grow: 1;
        justify-content: center;
    }

    .BottomSection {
        display: none;
    }

    .NavButton {
        padding: 0 30px; /* Adjust padding for wider buttons on web */
        border-radius: 0;
        height: 100%;
        text-decoration: none; /* Remove underline */
    }
}

@media (max-width: 767px) {
    .NavButton {
        padding: 10px 5px; /* Increase padding for taller buttons */
        height: 60px; /* Increase height for taller buttons */
    }

    .RightSection {
        padding-right: 20px; /* Add padding to the right side */
    }
}