.AppHeader {
    display: flex;
    flex-direction: column;
    background-color: #1e1e1e;
    font-size: 18px;
    color: #ffffff;
    padding: 0;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    font-family: 'Roboto', sans-serif;
}

.TopSection {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    height: 70px;
    padding: 0 20px;
}

.LeftSection {
    display: flex;
    align-items: center;
}

.MiddleSection {
    display: none;
}

.Title {
    margin-left: 15px;
    font-size: 36px;
    font-weight: 500;
    color: #ffffff;
}

.RightSection {
    display: flex;
    align-items: center;
}

.BottomSection {
    display: flex;
    justify-content: space-around;
    padding: 10px 0;
    background-color: #1e1e1e;
    position: fixed;
    bottom: 0;
    width: 100%;
    box-shadow: 0 -2px 4px rgba(0, 0, 0, 0.1);
}

.NavButton {
    flex: 1;
    margin: 0;
    padding: 8px 0;
    background-color: #3a3a3a;
    border: none;
    border-radius: 0;
    cursor: pointer;
    font-size: 20px;
    color: #ffffff;
    transition: background-color 0.3s ease;
    text-align: center;
}

.NavButton:hover {
    background-color: #575757;
}

.WalletButton {
    background-color: #3a3a3a !important;
    color: #ffffff !important;
    border-radius: 4px !important;
    padding: 8px 16px !important;
    font-size: 16px !important;
    transition: background-color 0.3s ease !important;
}

.WalletButton:hover {
    background-color: #575757 !important;
}

@media (min-width: 768px) {
    .AppHeader {
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
        height: 70px;
    }

    .TopSection {
        justify-content: space-between;
    }

    .MiddleSection {
        display: flex;
        flex-grow: 1;
        justify-content: center;
    }

    .BottomSection {
        display: none;
    }

    .NavButton {
        flex: none;
        margin: 0 15px;
        padding: 8px 10px;
        border-radius: 4px;
    }
}