/* styles/Footer.module.css */
.footer {
    text-align: left;
    padding: 1rem;
    background-color: #1e1e1e;
    position: fixed;
    width: 100%;
    bottom: 0;
    font-family: 'Roboto', sans-serif;
    font-size: 0.9rem;
    color: #ffffff;
    z-index: 10; /* Ensure it is above other elements */
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-sizing: border-box; /* Ensure padding is included in the width */
}

.footer a {
    color: #007bff;
    text-decoration: none;
    margin: 0 0.5rem;
}

.footer a:hover {
    text-decoration: underline;
}

.leftSection {
    display: flex;
    align-items: center;
    padding-left: 1rem; /* Add padding to the left to match the right side */
}

.rightSection {
    display: flex;
    align-items: center;
    padding-right: 1rem; /* Add padding to the right to prevent clipping */
}

.link {
    margin-left: 20px;
    color: #ffffff;
    text-decoration: none;
    transition: color 0.3s ease;
}

.link:hover {
    color: #cccccc;
}

.iconButton {
    margin-left: 20px;
    color: #ffffff;
    font-size: 24px;
    transition: color 0.3s ease;
}

.iconButton:hover {
    color: #cccccc;
}