/* styles/Modal.module.css */
.modalOverlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000; /* Ensure this is higher than other elements */
}

.modalContent {
  background: linear-gradient(135deg, #f0f0f0 25%, #e0e0e0 25%, #e0e0e0 50%, #f0f0f0 50%, #f0f0f0 75%, #e0e0e0 75%, #e0e0e0);
  background-size: 50px 50px;
  padding: 20px;
  border: 2px solid #000;
  border-radius: 10px; /* Rounded corners */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2), 0 6px 20px rgba(0, 0, 0, 0.19); /* 3D effect */
  width: 410px; /* Match the width of the game frame */
  height: 610px; /* Match the height of the game frame */
  text-align: center;
  color: black; /* Ensure modal text is black */
  position: relative;
  top: 108px; /* Adjust position to follow the pattern */
  left: 42px; /* Adjust position to follow the pattern */
}

.switchContainer {
  margin: 20px 0;
}

.switchRow {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 10px;
}

.switchLabel {
  flex: 1;
  text-align: left;
}

.switch {
  position: relative;
  display: inline-block;
  width: 34px;
  height: 20px;
}

.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  transition: 0.4s;
  border-radius: 34px;
}

.slider:before {
  position: absolute;
  content: "";
  height: 14px;
  width: 14px;
  left: 3px;
  bottom: 3px;
  background-color: white;
  transition: 0.4s;
  border-radius: 50%;
}

input:checked + .slider {
  background-color: #2196F3;
}

input:checked + .slider:before {
  transform: translateX(14px);
}

.buttonContainer {
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
}

.closeButton, .confirmButton {
  padding: 10px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  flex: 1;
  margin: 0 5px;
}

.closeButton {
  background-color: #f44336;
  color: white;
}

.confirmButton {
  background-color: #4CAF50;
  color: white;
}

/* Media query for mobile devices */
@media (max-width: 768px) {
  .modalContent {
    width: 90%; /* Adjust width for mobile */
    height: auto; /* Adjust height for mobile */
    top: 50%; /* Center vertically */
    left: 50%; /* Center horizontally */
    transform: translate(-50%, -50%); /* Center the modal */
    background: #fff; /* Remove the pattern */
  }
}