.statsContainer {
  padding: 20px;
  text-align: center;
}

.tokenGrid {
  display: grid;
  grid-template-columns: repeat(10, 1fr);
  gap: 20px;
  justify-content: center;
  max-width: 100%;
  margin: 0 auto;
}

@media (max-width: 600px) {
  .tokenGrid {
    grid-template-columns: repeat(2, 1fr);
    gap: 10px;
    margin-bottom: 10px;
  }

  .loadMoreButton {
    margin-bottom: 10px;
  }
}

.tokenCard {
  border: 1px solid #ddd;
  border-radius: 10px;
  padding: 10px;
  text-align: center;
  width: 150px;
}

.tokenImage {
  width: 60px;
  height: 60px;
  border-radius: 50%;
}

.tokenSymbol {
  font-weight: bold;
  margin-bottom: 10px;
}

.ratioBar {
  display: flex;
  height: 20px;
  border-radius: 10px;
  overflow: hidden;
  background-color: #f0f0f0;
  margin-bottom: 10px;
}

.likesBar {
  background-color: #00ff08;
}

.dislikesBar {
  background-color: #ff1100;
}

.loadMoreButton {
  margin-top: 20px;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  background-color: #007bff;
  color: white;
  cursor: pointer;
}

.loadMoreButton:hover {
  background-color: #0056b3;
}

.bottomContentWrapper {
  padding-bottom: 80px; /* Adjust this value as needed */
}